@use './mixins/mixins' as *;

$type: success warning error info;
$align: start end center;

.#{getBlock('alert')} {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 6px 12px;
  width: 100%;
}

.#{getElement('alert','content')} {
  display: flex;
  &.#{getState('center')} {
    margin: 0 auto;
  }
  .#{getBlock('icon')} {
    margin-right: 8px;
  }
}

.#{getbem('alert','content','grid')} {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'a b'
    '. c';
  align-items: center;
  .#{getBlock('icon')} {
    font-size: 1.1em;
    grid-area: a;
  }
  .#{getElement('alert','title')} {
    grid-area: b;
  }
  .#{getElement('alert','text')} {
    grid-area: c;
  }
}

.#{getElement('alert','title')} {
  font-size: 1.1em;
  font-weight: 600;
}

.#{getElement('alert','text')} {
  word-break: break-all;
}

@each $t in $type {
  .#{getModifier('alert',$t)} {
    color: getCssVar('#{$t}');
    border-color: getCssVar('#{$t}');
    background-color: getCssVar('bg-#{$t}');
  }
}

.#{getBlock('alert')} .#{getElement('alert','more')} {
  white-space: nowrap;
  cursor: pointer;
}

.#{getBlock('alert')} .#{getElement('alert','close')} {
  justify-content: end;
  color: getCssVar('gray', 700);
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}
@each $a in $align {
  .#{getBlock('alert')} .#{getbem('alert','icon',$a)},
  .#{getBlock('alert')} .#{getbem('alert','more',$a)},
  .#{getBlock('alert')} .#{getbem('alert','close',$a)} {
    align-self: if($a == center, center, flex-#{$a});
    height: getCssVar('basis', 'height');
  }
}
