$ef: 'enter-from';
$ea: 'enter-active';
$et: 'enter-to';
$lf: 'leave-from';
$la: 'leave-active';
$lt: 'leave-to';

$name: 'close';
$ordinary: $name;
$bounce: '#{$name}-bounce';

.#{$ordinary}-#{$la} {
  animation: #{$ordinary} 0.25s reverse;
}

.#{$bounce}-#{$ea} {
  animation: #{$bounce} 0.5s;
}
.#{$bounce}-#{$la} {
  animation: #{$bounce} 0.5s reverse;
}

@keyframes #{$ordinary} {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes #{$bounce} {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
