:root {
  --ys-text: #333333;
  --ys-text-100: #666666;
  --ys-text-200: #999999;
  --ys-text-300: #dddddd;
  --ys-font-size: 14px;
  --ys-font-weight: 400;
  --ys-line-height: 1.5715;
  --ys-font-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}
