:root {
  --ys-shadow-color: #dddddd;
  --ys-shadow-color-light: #eeeeee;
  --ys-shadow-color-dark: #999999;
  --ys-box-shadow: 0 0 4px 2px var(--ys-shadow-color);
  --ys-box-shadow-light: 0 0 4px 2px var(--ys-shadow-color-light);
  --ys-box-shadow-dark: 0 0 4px 2px var(--ys-shadow-color-dark);
}
