$ef: 'enter-from';
$ea: 'enter-active';
$et: 'enter-to';
$lf: 'leave-from';
$la: 'leave-active';
$lt: 'leave-to';

$name: 'fade';
$axisX: '#{$name}-toggle-x';
$axisY: '#{$name}-toggle-y';

.#{$axisX}-#{$ea},
.#{$axisX}-#{$la} {
  transition: all 0.3s ease-in-out;
}

.#{$axisX}-#{$ef},
.#{$axisX}-#{$lt} {
  transform: translateX(30px);
  opacity: 0;
}

.#{$axisX}-#{$ea},
.#{$axisX}-#{$la} {
  transition: all 0.3s ease-in-out;
}

.#{$axisY}-#{$ea},
.#{$axisY}-#{$la} {
  transition: all 0.3s ease-in-out;
}

.#{$axisY}-#{$ef},
.#{$axisY}-#{$lt} {
  transform: translateY(30px);
  opacity: 0;
}

.#{$axisY}-#{$ea},
.#{$axisY}-#{$la} {
  transition: all 0.3s ease-in-out;
}
