:root {
  --ys-border-color: #dddddd;
  --ys-border-color-light: #eeeeee;
  --ys-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --ys-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --ys-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000,
    0px 8px 16px -8px #000000;
}
