html {
  font: normal normal normal var(--c-font-size) / var(--c-line-height) var(--c-font-sans-serif);
  min-height: 100vh;
}

body {
  color: var(--c-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
}

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ul,
ol,
th,
td,
button,
figure,
input,
textarea,
form {
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img,
input,
button,
textarea {
  border: none;
}

input {
  text-align: inherit;
}

textarea {
  resize: none;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
button,
option,
textarea,
optgroup {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
}

a {
  color: var(--c-turquoise);
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

button,
input[type='submit'],
input[type='button'] {
  cursor: pointer;
}

input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--c-gray-600);
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: var(--c-gray-600);
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--c-gray-600);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--c-gray-600);
}
